{% extends 'base.html' %}
{% load custom_url %}
{% load staticfiles %}

{% block title %}
Beer Data
{% endblock %}

{% block add-css-files %}
<link rel="stylesheet" type="text/css" href="{% static 'css/practice.css' %}" >

<style type="text/css">

    .raleway {
      background-color: #18191D;
    }

    .table_options{
        color:white;
        margin-left: 12px;
    }

    .beer-post{
        color: white;
        border-radius: 6px;
        background-color: #0C0D0F;
        height: auto;
        width: 820px;
        margin-bottom: 20px;
        padding: 16px 8px 0px 16px;
        box-shadow: 10px 10px #000;
    }

    .green2{
        border: none;
        color: white !important;
        padding: 4px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        float: right;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 5px 5px #000;
        margin-right: 4px;
        background-color: #7033b5;
        -webkit-transition-duration: 0.2s; /* Safari */
        transition-duration: 0.2s;
    }

    .green2:hover{
        opacity: 0.9;
    }

    body{
        overflow-x: hidden;
    }

</style>
{% endblock %}

{% block main-content %}

  <div class=" raleway" style="min-width: 1000px !important;width: 100%;display: inline-block">
      <div class="row" style="margin-bottom:40px;margin-top: 150px">

          <div style="margin-left: 95px;width: 250px;margin-top: 135.5px;cursor: pointer">

          </div>
          <div>
              <table>
                  <th>
                      <div class="raleway" style="text-align:left;color:#fff;margin-left:6px"><p style="font-weight: 600"><span style="padding: 10px;font-size: 32px">{{section.name}}</span></p>
                      </div>
                  </th>
                  <tr class="table_options">
                      <td>
                          <div class="beer-post">
                              <table style="width: 700px;margin-bottom: 30px">
                                  <tr style="color:white">
                                      <td style="width: 330px">
                                          <div style="white-space: nowrap;text-overflow: ellipsis;width: 300px;overflow: hidden">
                                              <h5 style="margin-left:0px;margin-top:0px;margin-bottom: 10px;width: 120px">Brewer</h5>
                                          </div>
                                          <p style="font-weight: 100;margin-bottom: 30px">{{ section.brewer }}</p>
                                          <h6 style="margin-bottom: 10px">
                                              Date
                                          </h6>
                                          <p style="margin-bottom: 30px;font-weight: 100;">{{ section.date.date }}</p>
                                          <h6 style="margin-bottom: 10px">
                                              Price
                                          </h6>
                                          <p style="margin-bottom: 30px;font-weight: 100;">{{ section.price }}</p>
                                          <h6 style="margin-bottom: 10px">
                                              Serving Type
                                          </h6>
                                          <p style="margin-bottom: 30px;font-weight: 100;">{{ section.serving_type }}</p>
                                          <h6 style="margin-bottom: 10px">
                                              Rating
                                          </h6>
                                          <p style="margin-bottom: 30px;background:#232323;width:200px;padding:4px;font-family:monospace">{{ section.rating }}</p>
                                          <h6 style="margin-bottom: 10px">
                                              Description
                                          </h6>
                                          <p style="margin-bottom: 30px;font-weight: 100;">{{ section.description }}</p>
                                          <h6 style="margin-bottom: 10px">
                                            <form action="{% url 'beers:delete_beer' section.id %}" method="post">
                                              {% csrf_token %}
                                              <input type="hidden" name="beer_id" value="{{ section.id }}">
                                              <button class="btn btn-danger" type="submit">Delete</button>
                                            </form>
                                          </h6>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                      </td>
                  </tr>
              </table>
          </div>

          <div class="col-md-2" style="margin-top: 30px">

              <a href="{% url 'beers:detail' %}"><div class="green2" style="background-color: #7130ae;color: white;margin-left: 40px;float: none!important">Back to posts<span style="font-size: 12px">&nbsp;&#9650;</span></div></a>

          </div>
      </div>
  </div>

{% endblock %}
