<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Beer Data</title>
  </head>
  <body>
    Details of Beer

    <div>
    <ul>
      <li>Name:         {{ section.name }}</li>
      <li>Brewer:       {{ section.brewer }}</li>
      <li>Date:         {{ section.date }}</li>
      <li>Price:        {{ section.price }}</li>
      <li>Serving Type: {{ section.serving_type }}</li>
      <li>Rating:       {{ section.rating }}</li>
      <li>Description:  {{ section.description }}</li>
    </ul>
    </div>
  </body>
  <button>
    <a href="{% url 'beers:index' %}">Home</a>
  </button>

</html>
