{% extends 'base.html' %}
{% load custom_url %}
{% load staticfiles %}

{% block title %}
Beer Data
{% endblock %}

{% block add-css-files %}
<link rel="stylesheet" type="text/css" href="{% static 'css/practice.css' %}" >

<style type="text/css">

    .raleway {
      background-color: #18191D;
    }

    .table_options{
        color:white;
        margin-left: 12px;
    }

    .beer-post{
        color: white;
        border-radius: 6px;
        background-color: #0C0D0F;
        height: auto;
        margin-bottom: 20px;
        padding: 16px 8px 0px 16px;
        box-shadow: 10px 10px #000;
    }

    .lead{
        width: 230px;
        height: 320px;
        margin-top:20px;
        border-radius: 6px;
        box-shadow: 8px 8px #000;
        margin-left: 40px !important;
        background-image: linear-gradient(to bottom right, #8334b3, #3c33b2);
    }

    .lead-2{
        width: 230px;
        height: 210px;
        margin-top:20px;
        border-radius: 6px;
        box-shadow: 8px 8px #000;
        margin-left: 40px !important;
        background-image: linear-gradient(to bottom right, #8334b3, #3c33b2);
    }

    .green2{
        border: none;
        color: white !important;
        padding: 4px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        float: right;
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 5px 5px #000;
        margin-right: 4px;
        background-color: #7033b5;
        -webkit-transition-duration: 0.2s; /* Safari */
        transition-duration: 0.2s;
    }

    .green2:hover{
        opacity: 0.9;
    }

    body{
        overflow-x: hidden;
    }

    @media screen and (max-width: 1420px) {
      .beer-box {
        margin-left: 5px;
        margin-top: 60px;
      }
      .left-box {
        display: none;
      }

    }

    @media screen and (max-width: 1100px) {
      #stat-box {
        margin-left: -30px;
      }
    }

    @media screen and (min-width: 769px) {
      #main-box {
        margin-bottom:40px;
        margin-top: 150px;
      }
      .left-box {
        width: 60px;
      }
      .data-column {
          width: 330px
      }
      .beer-post {
        width: 820px;
      }
      .post-desc {
        width: 820px;
      }
    }

    /*
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */
    @media (min-width: 481px) and (max-width: 768px) {
      #stat-box {
        margin-left: -30px;
      }
      .lead-2 {
        margin-bottom: 20px;
      }
      .beer-post {
        width: 90%;
      }
      .post-desc {
        width: 320px;
      }
    }

    /*
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen upto 479px
    */
    @media screen and (max-width: 480px) {
      .lead-2 {
        margin-bottom: 20px;
      }
      .beer-post {
        width: 100%;
      }
      .post-desc {
        width: 300px;
      }
    }

</style>
{% endblock %}

{% block main-content %}

  <div class=" raleway" style="min-width: 1000px !important;width: 100%;display: inline-block">
      <div class="row" id="main-box" style="">

          <div class="left-box" style="width: 250px;margin-top: 135.5px;cursor: pointer">

          </div>
          <div class="beer-box">
              <table>
                  <th>
                      <div class="raleway" style="text-align:left;color:#fff;margin-left:6px"><p style="font-weight: 600"><span style="padding: 10px;font-size: 32px">{{section.name}}</span></p>
                      </div>
                  </th>
                  <tr class="table_options">
                      <td>
                          <div class="beer-post">
                              <table class="beer-table" style="margin-bottom: 30px">
                                  <tr style="color:white">
                                      <td class="data-column" style="">
                                          <div style="white-space: nowrap;text-overflow: ellipsis;overflow: hidden">
                                              <h5 style="margin-left:0px;margin-top:0px;margin-bottom: 10px;">Brewer</h5>
                                          </div>
                                          <p style="font-weight: 100;margin-bottom: 30px">{{ section.brewer }}</p>
                                          <h6 style="margin-bottom: 10px">
                                              Date
                                          </h6>
                                          <p style="margin-bottom: 30px;font-weight: 100;">{{ section.date.date }}</p>
                                          <h6 style="margin-bottom: 10px">
                                              Price
                                          </h6>
                                          <p style="margin-bottom: 30px;font-weight: 100;">{{ section.price }}</p>
                                          <h6 style="margin-bottom: 10px">
                                              Serving Type
                                          </h6>
                                          <p style="margin-bottom: 30px;font-weight: 100;">{{ section.serving_type }}</p>
                                          <h6 style="margin-bottom: 10px">
                                              Rating
                                          </h6>
                                          <p style="margin-bottom: 30px;background:#232323;width:200px;padding:4px;font-family:monospace">{{ section.rating }}</p>
                                          <h6 style="margin-bottom: 10px">
                                              Description
                                          </h6>
                                          <p class="post-desc" style="margin-bottom: 30px;font-weight: 100;">{{ section.description }}</p>
                                          <h6 style="margin-bottom: 10px">
                                            <form action="{% url 'beers:delete_beer' section.id %}" method="post">
                                              {% csrf_token %}
                                              <input type="hidden" name="beer_id" value="{{ section.id }}">
                                              <button class="btn btn-danger" type="submit">Delete</button>
                                            </form>
                                          </h6>
                                      </td>
                                  </tr>
                              </table>
                          </div>
                      </td>
                  </tr>
              </table>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3" id="stat-box" style="margin-top: 30px">

              <a href="{% url 'beers:detail' %}"><div class="green2" style="background-color: #7130ae;color: white;margin-left: 40px;float: none!important">Back to posts<span style="font-size: 12px">&nbsp;&#9650;</span></div></a>

              <div class="lead">

                  <p style="color:black;font-size: 16px;padding-left: 12px;padding-top: 12px;font-weight: 600">Flavor Attributes</p>
                  <div style="width:250px; height:200px">
                    <canvas id="myChart" width="100" height="100"></canvas>
                  </div>
              </div>

              <div class="lead-2">

                  <p style="color:black;font-size: 16px;padding-top: 12px;font-size:20px;font-weight: 600;text-align:center">Stats</p>
                  <p style="color:black;font-size: 16px;padding-left: 12px;padding-top: 12px;font-weight: 600"><b>ABV:</b> {{section.abv}}%</p>
                  <p style="color:black;font-size: 16px;padding-left: 12px;padding-top: 12px;font-weight: 600"><b>IBUs:</b> {{section.ibu}}</p>
              </div>

          </div>
      </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>


  <script>
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Alcohol', 'Hoppy', 'Floral', 'Herbal', 'Spicy', 'Malty', 'Burnt',
                'Sweet', 'Sour', 'Bitter', 'Dry', 'Linger'],
        datasets: [{
            label: '# of Votes',
            data: {{ section.flavors }},
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(191, 23, 216, 0.2)',
                'rgba(200, 35, 51, 0.2)',
                'rgba(229, 255, 86, 0.2)',
                'rgba(38, 224, 115, 0.2)',
                'rgba(7, 7, 7, 0.2)',
                'rgba(23, 230, 237, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(191, 23, 216, 1)',
                'rgba(200, 35, 51, 1)',
                'rgba(229, 255, 86, 1)',
                'rgba(38, 224, 115, 1)',
                'rgba(7, 7, 7, 1)',
                'rgba(23, 230, 237, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            labels: {
                fontColor: "black",
            }
        },
        scales: {
            yAxes: [{
                ticks: {
                    display: false,
                },
                gridLines: {
                  drawBorder: false,
                  display: false,
                }
            }]
        }
    }
});
</script>


{% endblock %}
