{% extends 'base.html' %}
{% load custom_url %}
{% load staticfiles %}

{% block title %}
Beer Diary
{% endblock %}

{% block add-css-files %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style type="text/css">

    .raleway {
      background-color: #18191D;
    }

    .table_options{
        color:white;
        margin-left: 12px;
    }

    .beer-details{
        color: white;
        border-radius: 6px;
        background-color: #0C0D0F;
        height: auto;
        margin-bottom: 20px;
        padding: 16px 8px 16px 12px;
        box-shadow: 10px 10px #000;
    }

    .green{
        border: none;
        color: white !important;
        padding: 4px 20px;
        width: 110px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        border-radius: 4px;
        box-shadow: 5px 5px #000;
        margin-right: 4px;
        background-color: #7033b5;
        -webkit-transition-duration: 0.2s; /* Safari */
        transition-duration: 0.2s;
    }

    .green:hover {
        background-color: #3c33b2; /* Green */
        color: white;
    }

    @media screen and (max-width: 1420px) {

    }

    @media screen and (max-width: 1100px) {

    }

    @media screen and (min-width: 769px) {


      .beer-details {
        width: 820px;
        min-width: 600px;
      }
      .beer-table {
        width: 800px;
      }
      .beer-name {
        width: 330px;
      }
      .beer-data {
        width: 220px;
      }
      .beer-button {
        width: auto;
      }
      .green {
        float: right;
      }
      .name-field {
        width: 300px;
      }
      .data-field {
        width: 200px;
      }

    }

    /*
      ##Device = Low Resolution Tablets, Mobiles (Landscape)
      ##Screen = B/w 481px to 767px
    */
    @media (min-width: 481px) and (max-width: 768px) {

      .beer-details {
        width: 90%;
      }
      .beer-table {
        width: 100%;
      }
      .beer-name {
        width: 33.3333%;
      }
      .beer-data {
        width: 33.3333%;
      }
      .beer-button {
        width: 33.3333;
      }

    }

    /*
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen upto 479px
    */
    @media screen and (max-width: 480px) {

      .beer-details {
        width: 100%;
      }
      .beer-table {
        width: 100%;
      }
      .beer-name {
        width: 50%
      }
      .beer-data {
        display: none;
      }
      .beer-button {
        width: 50%;
      }
      .green {
        float: right;
      }
      .name-field {
      }
    }

</style>
{% endblock %}

{% block add-js-files %}
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script>

  var posts = [];
  {% for x in Beers %}
    posts.push({brewer:"{{ x.brewer }}", id:"x.id", delete_link:"{% url 'beers:delete_beer' x.id %}", author: '{{x.author}}', name:'{{ x.name }}', link:"{% url 'beers:beer' beer=x.name|custom_url author=x.author %}", edit_link:"{% url 'beers:update_beer' x.id %}", price: "{{ x.price }}", rating:"{{ x.rating }}", date:"{{ x.date.date }}"},)
  {% endfor %}

  var app = angular.module("myApp",[]);
  app.controller("myCtrl", function($scope){

    $scope.myObj = posts
  });

</script>
{% endblock %}

{% block main-content %}
  <div class="raleway">


      <div class="row" style="margin-bottom: 0px;margin-top: 0px" ng-app="myApp" ng-controller="myCtrl" ng-cloak >
          <div class="col-md-2" style="margin-left: 80px">
          </div>

          <div>
              <table>
                  <th>
                      <div class="raleway" style="text-align:left;color:#fff;margin-bottom:-20px"><p style="font-weight: 600"><span style="padding: 10px;font-size: 32px">My Posts</span></p>
                      </div>
                  </th>
                  <tr style="color: aliceblue;padding: 0px">
                      <td style="width: 0px !important;text-align: end">
                          <div class="dropdown">
                              <button id="label" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #18191D; border: none;outline: none;cursor: pointer;margin-bottom: 10px">
                                  <span style="color: aliceblue;font-weight: 200;font-size: 15px">Sort By &nbsp;&nbsp;</span>
                                  <span id ="hello" style="color: violet">
                                      Accuracy
                                  </span>
                                  <span style="color: aliceblue">&#9660;</span>
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background: white">
                                  <a class="dropdown-item" href="#" style="text-decoration: none;color: #0C0D0F;font-weight: 600">Accuracy</a>
                                  <a class="dropdown-item" href="#" style="text-decoration: none;color: #0C0D0F;font-weight: 600">Submissions</a>
                                  <a class="dropdown-item" href="#" style="text-decoration: none;color: #0C0D0F;font-weight: 600">Average Time</a>
                              </div>
                          </div>
                      </td>
                  </tr>
                  <tr ng-repeat="x in myObj" class="table_options">
                      {% verbatim %}

                      <td>
                          <div class="beer-details">
                              <table class="beer-table">
                                  <tr>
                                      <td class="beer-name col-xs-12 col-sm-6 col-md-3">
                                          <div class="name-field" style="white-space: nowrap;text-overflow: ellipsis;;overflow: hidden">
                                              <h5 style="margin-left:4px;margin-top:0px;color: white;margin-bottom: 20px;">{{x.name}}</h5>
                                          </div>

                                      </td>
                                      <td class="beer-data col-xs-12 col-sm-6 col-md-3">
                                          <div class="data-field" style="white-space: nowrap;text-overflow: ellipsis;;overflow: hidden;margin-top: 8px">
                                              <h6 style="margin-left:4px;margin-top:0px;color: white;margin-bottom: 12px;">{{x.date}}</h6>
                                          </div>

                                          <p style="margin-bottom: 4px"><span style="color:white;font-weight:100;font-size:15px;margin-left:4px;">Author &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: 300"> {{ x.author }}</span></span> </p>
                                          <p style="margin-bottom: 4px"><span style="color:white;font-weight:100;font-size:15px;margin-left:4px">Brewer &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: 300"> {{ x.brewer }}</span></span> </p>
                                          <p style="margin-bottom: 4px"><span style="color:white;font-weight:100;font-size:15px;margin-left:4px;">Price &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: 300"> {{ x.price }}</span></span> </p>
                                          <p style="margin-bottom: 0px"><span style="color:white;font-weight:100;font-size:15px;margin-left:4px;">Rating &nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight: 300"> {{ x.rating }}</span></span> </p>
                                      </td>
                                      <td class="beer-buttons col-xs-12 col-sm-6 col-md-3">
                                          <a class="green" style="font-weight:600" id="button" href={{x.link}}>View Post</a><br><br>
                                          <a class="green" href={{x.edit_link}} style="font-weight:600" id="button">Edit Post</a>
                                      </td>
                                      {% endverbatim %}
                                  </tr>
                              </table>
                          </div>
                      </td>

                  </tr>
              </table>
          </div>
      </div>
  </div>

{% endblock %}
