{% extends 'base.html' %}
{% load custom_url %}
{% load staticfiles %}

{% block title %}
Beer Diary
{% endblock %}

{% block add-css-files %}
{% endblock %}

{% block main-content %}

<div class="jumbotron" id="jumbo">
  <div class="container-body" style="text-align: center">
    <h1 class="display-4" id="heading-1">Beer Diary</h1>
    <p class="lead">Share your beer drinking experience with the world</p>
    <hr class="my-4">
    <p>Create an account to start writing your posts.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'beers:register' %}" role="button">Sign Up</a>
    <a class="btn btn-primary btn-lg" href="{% url 'beers:login_user' %}" role="button">Log In</a>
  </div>
</div>

{% endblock %}
