{% extends 'beers/login_base.html' %}
{% load staticfiles %}

{% block title %}
BeerDiary | Login
{% endblock %}

{% block add-css-files %}
{% endblock %}

{% block active %}
<span class="active" id="loginButton">Login</span> | <span id="registerButton">SignUp</span>
{%endblock%}

{% block form %}

                        <form method="post" enctype="multipart/form-data" class="form font" data-aos="fade-in">
                            <table>
                                {% csrf_token %}
                                <input type="name" class="username placeholderFont" name="username" placeholder="Username" style="background: #0C0D0F;border:0px !important;color: aliceblue;outline: 0px;margin-bottom: 8px;font-family: Raleway;width: 330px;margin-right: 60px;margin-left: 5px">
                                <div style="width: 330px;height: 1px;background-color: aliceblue;margin-bottom: 50px;margin-left: 5px"></div>
                                <input type="password" class="password placeholderFont" name="password" placeholder="Password" style="background: #0C0D0F;border:0px !important;color: aliceblue;outline: 0px;margin-bottom: 8px;margin-left: 5px;font-family: Raleway;width: 330px;margin-right: 60px">
                                <div style="width: 330px;height: 1px;background-color: aliceblue;margin-bottom: 30px;margin-left: 5px"></div>
                                <table>
                                    <tr>
                                        <td style="color: aliceblue;margin-right: 5px;font-size: 14px">
                                            Remember Me
                                        </td>
                                        <td>
                                            <input type="checkbox" style="color: aliceblue;margin-right: 94px;font-size: 14px">
                                        </td>

                                        <td style="color: aliceblue;font-size: 14px;text-align: end">
                                            Forgot Password ?
                                        </td>
                                    </tr>
                                </table>
                                <div style="color: aliceblue;margin-right: 5px;font-size: 14px;margin-left: 3px;margin-top: 51px;margin-bottom: 10px;text-align: left">
                                    Login with:
                                </div>
                                <table>
                                    <tr>
                                        <td style="padding-left: 0px !important;padding-right: 25px;width: auto">
                                            <div class="facebook"></div>
                                        </td>
                                        <td style="padding-left: 0px !important;padding-right: 25px">
                                            <div class="github"></div>
                                        </td>
                                        <td style="padding-left: 0px !important;padding-right: 25px">
                                            <div class="google"></div>
                                        </td>
                                        <td>
                                            <div class="linkedin"></div>
                                        </td>
                                    </tr>
                                </table>
                                <div>
                                <button class="login_button" type="submit">Login</button>
                                </div>
                            </table>
                        </form>
{% endblock %}
