{% load staticfiles %}
{% load custom_url %}

<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

  <title>{% block title %}{% endblock %}</title>

  {% block add-css-files %}
  {% endblock %}

  {% block add-js-files %}
  {% endblock %}

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'beers:index' %}">BeerDiary</a>
  <!-- Header -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Items -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.username %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'beers:detail' %}">My Posts</a>
        </li>
      {% endif %}

    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if user.username %}
        <li>
          <a class="nav-link">{{ user.username }} &nbsp;</a>
        </li>
        <li class="">
          <a class="nav-link" href="{% url 'beers:add_beer' %}">
            <i class="fa fa-plus" aria-hidden="true"></i> New Post &nbsp;
          </a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'beers:logout_user' %}">
            <i class="fa fa-power-off" aria-hidden="true"></i> logout
          </a>
        </li>
      {% else %}
        <li>
          <a class="nav-link" href="{% url 'beers:login_user' %}">Login &nbsp;</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'beers:register' %}">Sign Up</a>
        </li>
      {% endif %}
    </ul>


  </div>
</nav>

{% block main-content %}
{% endblock %}

<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">

      <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget subscribe no-box">
          <h5 class="widget-title">BEERDIARY<span></span></h5>
          <p>BeerDiary helps you share your beer drinking experience with the world. </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Quick Links<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content"><a href="#.">Get Started</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">Top Posts</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">Success Stories</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">News</a></div>
              </li>
              <li>
                <div class="thumb-content"><a href="#.">About</a></div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
          <h5 class="widget-title">Get Started<span></span></h5>
          <p>Get started with writing your very first post.</p>
          <a class="btn" href="#." target="_blank">Register Now</a>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">

          <div class="widget no-box">
            <h5 class="widget-title">Contact Us<span></span></h5>

            <p><a href="mailto:info@domain.com" title="glorythemes">info@domain.com</a></p>
            <ul class="social-footer2">
              <li class="">
                <a title="youtube" target="_blank" href="https://www.youtube.com/"><i style="padding-top: 5px" class="fa fa-youtube"></i></a>
              </li>
              <li class="">
                <a href="https://www.facebook.com/" target="_blank" title="Facebook"><i style="padding-top: 5px" class="fa fa-facebook"></i></a>
              </li>
              <li class="">
                <a href="https://twitter.com" target="_blank" title="Twitter"><i style="padding-top: 5px" class="fa fa-twitter"></i></a>
              </li>
              <li class="">
                <a title="instagram" target="_blank" href="https://www.instagram.com/"><i style="padding-top: 5px" class="fa fa-instagram"></i></a>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Copyright BeerDiary © 2020. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
